.search {
    -webkit-appearance: none;
    border: inset rgb(14, 182, 173);
    border-radius: 5px;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
  }